/* FONT FAMILY AND MARGIN */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto"
}

/* ALIGNMENT & FLEXBOXING */

.header, .one, .two, .three, .four, .footer {
    padding: 0 10%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 20px;
}

.one {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 75px;
}

.heroaction {
    flex: 2;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action {
    padding: 5px 30px;
    width: max-content;
}

.image {
    flex: 3;
}

.subheader {
    text-align: center;
    margin: 40px 0;
}

.illustration-container {
    margin: 0 0 80px 0;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.illustration {
    width: 160px;
    text-align: center;
}

.illustration-image {
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.quote, .attribution {
    padding: 100px 80px;
}

.quote {
    padding-bottom: 0;
}

.attribution {
    padding-top: 0;
    text-align: right;
}

.four {
    padding-top: 80px;
    padding-bottom: 80px;
}

.calltoaction {
    padding: 40px 80px;

    display: flex;
    justify-content: space-between;
}

.calltoaction .action {
    display: flex;
    align-self: center;
    text-align: center;
    height: fit-content;
}

.footer {
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* BACKGROUND AND FONT COLORS */

.header, .one, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-links, .subtext {
    color: #E5E7EB;
}

a {
    color: white;
}

.action {
    color: white;
    background-color: #3882F6;
}

.subheader, .illustration {
    color: #1F2937;
}

.three {
    background-color: #E5E7EB;
}

.attribution {
    color:#1F2937;
}

.calltoaction {
    background-color: #3882F6;
    color: white;
}

.calltoaction .action {
    border: 2px solid white;
}

/* PLACEHOLDER */
.image {
    background-color: #696e77;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FONT SIZES & WEIGHTS */

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    font-size: 18px;
}

.herotext {
    font-size: 48px;
    font-weight: 900;
}

.subtext, .illustration {
    font-size: 18px;
}

.subheader {
    font-size: 36px;
    font-weight: 900;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.attribution, .text-container .text1 {
    font-weight: 700;
    font-size: 22px;
}

.text-container .text2 {
    font-size: 18px;
}

.footer {
    font-size: 22px;
}
/* MISCELLANOUS */

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.action {
    border-radius: 5px;
}

a {
    text-decoration: none;
}